extends layout

block content
  h1 FCC Pintererst Clone
  .grid
    .grid-sizer
    each picture in pictures
      .grid-item
        div
          img.responsive-img(src=picture.url, onerror="this.src='broken.png'")
          h5= picture.title
          a(href='/wall/'+picture.user._id) Posted by 
            =picture.user.twitter.displayName
          if user && '' + user._id == '' + picture.user._id
            a.right(href='/delete/' + picture._id)
              i.material-icons.red-text delete
